argh==0.26.2
bat==0.3.4
certifi==2023.7.22
chardet==3.0.4
futures==3.2.0
idna==2.7
numpy==1.22.0
pandas==0.23.4
pathtools==0.1.2
pkg-resources==0.0.0
py4j==0.10.7
pyarrow==14.0.1
pyspark==3.2.2
python-dateutil==2.7.5
pytz==2018.7
pyxDamerauLevenshtein==1.5
PyYAML>=4.2b1
requests==2.31.0
scapy>=2.4.1
scikit-learn==0.20.1
scipy==1.10.0
six==1.11.0
sklearn==0.0
urllib3>=1.24.2
watchdog==0.9.0
